<template name="projectDiscuss">
  <a href="{{ pathFor 'projectView' params=project }}">... back to project</a>
  
  <a class="btn btn-primary newFeedbackBtn" href="{{pathFor 'newProjectDiscussion' params=project}}">new Topic</a>
  
  {{> posts }}
</template>

<template name="newProjectDiscussion">

  <a href="{{ pathFor 'projectView' params=this }}">... back to project</a>

{{> newDiscussionPost }}

</template>


<template name="projectDiscussionPost">

  <a href="{{ pathFor 'projectView' params=project }}">... back to project</a>

{{> discussionPost post }}

</template>


