.playerControlls {
  margin-top: 5px;
  a {
    color: #020a15;
  }
}

#preview {
  border: 1px dotted #aaa;
  width: 540px;
  height: 337px;
  overflow: scroll;
}

#slideWrapper {
  padding: 0 100px;
  height: 400px;
  overflow: scroll;
  position: relative;
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}
#slideWrapper div{
  -webkit-transition: all 0.8s ease;
}
#slideWrapper div:last-child{
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 20%;
  li {
    line-height: 1.2em;
  }
}

