@textGray: #999;
@black: #333;
@grey: #f1f1f1;
@darkblue: #194c68;
@blue: #2879a6;
@orange: #d58e50;


@highlight: @orange;
@neutral: @grey;
@bg: @grey;
@neutral: @grey;

@border: 2px;
@border2: 4px;
@border3: 6px;
@border4: 10px;
@border5: 16px;
@border6: 26px;

textarea {
  background: @neutral;
  width: 100%;
  padding: 10px;
  
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 0px !important;
}
