@textGray: #999;
@black: #333;
@grey: #f1f1f1;
@grey2: #dcdcdc;
@darkblue: #194c68;
@blue: #4b8cdc;
@lightblue: #d3dfed;
@orange: #fdb756;
@lightorange: #f6dcb9;


@highlight: @orange;
@neutral: @grey;
@bg: @grey;
@neutral: @grey;

@border: 2px;
@border2: 4px;
@border3: 6px;
@border4: 10px;
@border5: 16px;
@border6: 26px;

textarea {
  background: @neutral;
  width: 100%;
  padding: 10px;
  
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 0px !important;
}

a {
  color: @black;
  &:hover {
    color: @blue;
  }
}

.CodeMirror {
  // min-height: 100px;
}

.right {
  float: right;
}
.left {
  float: left;
}

.clear {
  clear: both;
}


.btn-default {
}
.btn.active {
  background: @orange !important;
  box-shadow: none; 
  -webkit-box-shadow: none !important;
}

#dropzone {
  height: 100px;
  width: 100%;
  display: table;
  border-radius: 20px;
  border: 4px #fff dashed;
  &:before{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    content: 'Drop file here!';
  }
  &.hover {
    border: 4px @blue dashed;
    background: @lightblue;
    &:before {
      content: 'Good!';
    }
  }
}

.thumbnail {
  width: 250px;
  height: 250px;
  background: url('loading.gif') center center no-repeat;
}

.courseWrapper {
  background: #fff;
  display: inline-block;
  padding: 4px;
  margin: 2px;
  border: 1px solid @grey2;
  &:hover {
    border: 1px solid #fdb756;
  }
}
.sections {
  padding: 0px;
  list-style: none;
  border: 1px solid #d6d6d6;
}

.sortable-ghost{
  background: @grey2 !important;
  border: 2px #fff dashed !important;
  div {
    visibility: hidden;
  }
}

.nav-pills {
  background: #fff;
  li.section > a {
    text-transform: uppercase;
    &:hover, &.active {
      color: #fff!important;
      background: @blue;
    }
  }
  a {
    margin: 0px;
    color: @black !important;
  }
  li + li {
    margin-top: 0px !important;
  }
}
.unitsContainer {
  border-left: 2px solid @blue;
  background: #f7f7f7;
  padding: 10px 15px;
}

.units {
  background: #f7f7f7;
  list-style: none;
  padding: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  li {
    margin: 5px 0;
    a:hover {
      background: inherit;
    }
    a.active {
      font-weight: bold;
    }
  }
}
.list-group-item:hover {
  color: #fff !important;
  background: @blue !important;
}

.newCoursePanel {
  border-top: 2px solid;
  border-right: 2px solid;
  border-radius: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-color: #666;
}

.save-btn.changed {
  background: #fdb756;
}

.functions {
  margin: 0 10px;
}

.courseTitle {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase; 
  a, a:hover {
    color: @black;
  }
}

.toolbar {
  padding: 10px 5% 0 0;
  text-align: right; 
}

.descriptionWrapper {
  background: #fff;
  padding: 5px 20px;
}

.btn-up, .btn-down {
  font-size: 20px;
  &:hover {
    color: @blue !important;
  }
  i {
    margin: 0 2px;
  }
}

#editorContainer > div {
  margin: 15px 0;
}
