<template name="editCourse">
  edit Joonge
</template>

<template name="editAside">
  <div class="panel panel-default">
    <div class="panel-heading">Section</div>
    <div class="panel-body">
      <p class=""><a href="/teach/S6N5btY9uqW5rEgaj/lectures/E6RpnbDHPcpHdjwev">1.1. New Lecture</a></p>
      <a class="list-group-item add-lecture"><i class="fa fa-plus"></i> Add Lecture</a>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="list-group-item add-section"><i class="fa fa-plus"></i> Add Section</a>
    </div>
  </div>
</template>
