<template name="fsView">
<div class="row-fluid">
<div id="fsView" class="offset2 span8">
  <!-- <a href="#" class="btn btn&#45;success"><i class="icon&#45;plus"></i></a> -->
    <table>
      <tbody>
        {{#each getFsContext}}
        <tr>
          <td class="icon"><i class="fa fa-file-text"></i></td>
          <td class="filename">
            <a href="{{pathFor 'editFile' params=this }}"> {{path}} </a>
          </td>
          <td>{{msg}}</td>
          <td>{{getDate}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="col-xs-5">
      <input id="newFile" type="text" name="newfile" class="form-control"/>
    </div>
    <button class="btn btn-success" name="newfilebtn"><i class="fa fa-plus"></i> new</button>
  </div>
</div>
  
</template>
