ul#projectsWrapper {
  display: inline-block;
  list-style: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  li {
    display: inline-block;
    margin: 5px;
    overflow: hidden;
    position: relative;
  }
}
.projectWrapper {
  width: 215px;
  padding-left: 25px;
  padding-right: 30px;
  height: 83.1px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  &:hover {
    background: #fcf6ec;
  }
  position: relative;
}
.projectViewWrapper {
  position: relative;
}
span.info{
  position: absolute;
  bottom: 10px;
  &.right{
    right: 20px;
  }
  &.left {
    left: 20px;
  }
}
#projectViewWrapper {
  position: relative;
  span.info{
    position: absolute;
    top: 0px;
    &.right{
      right: 20px;
    }
  }
  span{
    margin: 0 6px;
  }
}

a{
  margin: 0 6px;
}
.instantPreviewWrapper {
  margin: 30px 20px;
}

ul.menue {
  li {
    line-height: 20px;
    background: #fff;
    height: 20px;
    text-align: center;
    font-size: 1.4em;
    margin: 5px 0px;
    padding: 7px;
    list-style: none;
    &.selected {
      border-left: 4px solid #58b1fc;
    }
  }
}

table.memberTable {
  background: #fff;
}
