<template name="projects">
    {{#if currentUser }}
      <a href="{{pathFor 'projectNew'}}" class="btn btn-primary right">new project</a>
      <h2>Own Projects</h2>
      <ul id="projectsWrapper">
        {{#each ownProjects}}
        <li>
          {{> projectWrapper}}
        </li>
        {{/each}}
      </ul>
    {{/if}}
    <h2> Popular Projects </h2>
    <ul id="projectsWrapper">
      {{#each popularProjects}}
      <li>
        {{> projectWrapper}}
      </li>
      {{/each}}
    </ul>
</template>

<template name="projectWrapper">
<div class="projectWrapper">
  <h4> {{ slice name 20 }} </h4>
  <p> {{ slice description 28 }} </p>
  <span class="info left">
    <span class="star unstared"> {{ stars.length }} <i class="icon-star-empty"></i></span>
    <span class="slides"> {{ slides }} <i class="icon-list-alt"></i></span>
  </span>
  <span class="info right">
    {{#if userOwn}}
      {{> showPublicStatus }}
    {{/if}}
  </span>
</div>
</template>


<template name="showPublicStatus">
  {{#if public }}
  <i class="icon-unlock"></i>
  {{else}}
  <i class="icon-lock"></i>
  {{/if}}
</template>

