<template name="projectView">
<div id="projectViewWrapper">
  <!-- <a href="{{ pathFor 'projects' }}">... back to projects</a> -->
  

  {{#if building}}
    <center id="buildingIndicator">
      {{>spinner}}
      <p> building project...  </p>
    </center>
  {{else}}
  <span class="info right">
    {{> star}}
    <a href="{{pathFor 'projectDiscuss' params=this }}"><i class="icon-comments"></i> discuss</a>
    {{#if currentUser }}
    <a href="#" name="fork" class="notDoneYet"><i class="icon-code-fork"></i> fork</a>
    <a href="{{ pathFor 'projectPreview' params=this}}"><i class="icon-eye-open"></i> view</a>
    <a id="buildBtn" href="#" class="{{needBuild}}"><i class="icon-cogs"></i> build</a>
    <a href="{{pathFor 'projectSettings' _id=this._id }}"><i class="icon-cog"></i> settings</a>
    {{/if}}
  </span>
  
  
  <div id="projectInfoWrapper">
    
    <a href="{{ pathFor 'projectView' }}">{{user.name}}</a> /
    <a href="{{ pathFor 'projectView' }}">{{name}}</a> 
    
    <center id="projectViewHead">
      <h1><img src="blank.gif" class="flag flag-{{language}}"/>  {{name}} </h1>
      <p>{{description}}</p>
    </center>

    {{> fsView}}

    <div class="row-fluid">
      <div class="span12">
        <h2>History</h2>
        {{> activities}}
      </div>
    </div>
  </div>
  {{/if}}

</div>
</template>

<template name="activities">
<ul class="activities">
  {{#each getActivities}}
  <li class="activityWrapper">
    {{#if save}}
    <span class="iconWrapper"> <i class="icon-save"></i></span>
    {{/if}}
    
    {{#if comment}}
    <span class="iconWrapper"> <i class="icon-comment"></i></span>
    {{/if}}
    
    {{#if post}}
    <span class="iconWrapper"> <i class="icon-comments"></i></span>
    {{/if}}
    
    {{msg}}
    <span class="activityInfo">
      {{user.name}}, &nbsp; {{getDate}} ago
    </span>
  </li>
  {{/each}}
</ul>
</template>
