<template name="projectSettings">
<a href="{{ pathFor 'projectView' }}">... back to project</a>
<div id="mainSettings" class="row-fluid">
  <div class="span9">
    {{#if isState 'general'}}
      {{> generalSettings}}
    {{/if}}
    
    {{#if isState 'build'}}
      {{> buildSettings}}
    {{/if}}

    {{#if isState 'members'}}
      {{> memberSettings}}
    {{/if}}

    {{#if isState 'delete'}}
      {{> deleteProject}}
    {{/if}}
  </div>
</div>
</template>

<template name="settingsNav">
<ul class="menue">
  <li class="{{isState 'general'}}"><a class="menueBtn general" href="#">General</a></li>
  <li class="{{isState 'build'}}"><a class="menueBtn build" href="#">Build</a></li>
  <li class="{{isState 'members'}}"><a class="menueBtn members" href="#">Members</a></li>
  <li class="{{isState 'delete'}}"><a class="menueBtn delete" href="#">Delete Project</a></li>
</ul>
</template>


<template name="deleteProject">
Everything has to come to an end.
<button class="btn btn-warning btn-large btn-block" name="delete">remove project forever and ever</button>
</template>

<template name="memberSettings">
<label for="">Members:</label>
<table class="table table-advance memberTable">
  <thead>
  <tr>
    <th> Name </th>
    <th> Right </th>
    <th> Action </th>
  </tr>
  </thead>
  <tbody>
    {{#each acls}}
    <tr>
      <td> {{name}} </td>
      <td> {{right}} </td>
      <td> <button class="btn" name="remove">remove</button> </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<label for="">add user: </label>
<input type="text" name="user" placeholder="user or email" />
<select id="right" name="right">
  <option value="admin">admin</option>
  <option value="write">write</option>
  <option value="read">read</option>
</select> 
<br />
<button class="btn btn-primary" name="add">Add</button>
</template>


<template name="generalSettings">
<div id="nameCG" class="control-group">
  <label for="textfield5" class="control-label">name</label>
  <div class="controls">
    <input type="text" name="name" id="name" placeholder="name..." class="input-xlarge" value="{{name}}">
    <span class="help-inline"></span>
  </div>
</div>

<div id="descriptionCG" class="control-group">
  <label for="textfield5" class="control-label">description</label>
  <div class="controls">
    <input type="text" name="description" id="description" placeholder="description..." class="input-xlarge" value="{{description}}">
    <span class="help-inline"></span>
  </div>
</div>

<div id="publicCG" class="control-group">
  <label for="textfield5" class="control-label">public</label>
  <div class="controls">
    <label class="checkbox">
      <input type="checkbox" name="public" /> public
    </label>
    <span class="help-inline"></span>
  </div>
</div>

<div id="publicCG" class="control-group">
  <label for="textfield5" class="control-label">public</label>
  <div class="controls">
    <select name="language" id="language">
      {{#each language}}
        <option value="{{this}}" {{isActive .. this}}>{{this}}</option>
      {{/each}}
    </select>
    <span class="help-inline"></span>
  </div>
</div>

<button name="submit" class="btn btn-primary">Submit</button>
<a href="{{ pathFor 'projects' }}" class="btn">Cancel</a>
</template>

<template name="buildSettings">
</template>
