<template name="projectView">
<div id="projectViewWrapper">
  <!-- <a href="{{ pathFor 'projects' }}">... back to projects</a> -->
  <span class="info right">
    {{> star}}
    <a href="{{ pathFor 'projectDiscuss' }}"><i class="icon-comments"></i> discuss</a>
    {{#if currentUser }}
    <a href="#" name="fork"><i class="icon-code-fork"></i> fork</a>
    <a href="{{ pathFor 'projectPreview' }}"><i class="icon-eye-open"></i> preview</a>
    <a href="{{ pathFor 'projectEdit' }}"><i class="icon-pencil"></i> edit</a>
    <a href="{{ pathFor 'projectSettings' }}"><i class="icon-cog"></i> settings</a>
    {{/if}}
  </span>

  <h2>{{name}}</h2>
  <p>{{description}}</p>



  <center>
    <h1>Project Page</h1>
  </center>
  
  <div class="row-fluid">
    <div class="span10">
      {{> activities}}
    </div>
  </div>

</div>
</template>

<template name="activities">
  {{#each activity}}
    <div class="activityWrapper">
      {{msg}}
      {{#if save}}
      <span class="iconWrapper"> <i class="icon-save"></i></span>
      {{/if}}
    </div>
  {{/each}}
</template>
