ul#projectsWrapper {
  display: inline-block;
  list-style: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  li {
    display: inline-block;
    margin: 5px;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0px 0px 8px -2px #888; 
    &:hover {
      -webkit-box-shadow: 0px 3px 15px -4px #000000; 
      top: -2px;
    }
  }
}
.projectWrapper {
  width: 215px;
  padding-left: 25px;
  padding-right: 30px;
  height: 83.1px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  &:hover {
    // background: #fcf6ec;
  }
  position: relative;
  h4,p,span {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

span.info{
  position: absolute;
  bottom: 10px;
  &.right{
    right: 20px;
  }
  &.left {
    left: 20px;
  }
}

#projectViewWrapper, #projectPreviewWrapper, #projectEditWrapper {
  position: relative;
  span.info{
    position: absolute;
    top: 0px;
    &.right{
      right: 20px;
    }
  }
  span{
    margin: 0 6px;
  }
}

#projectViewHead {
  padding-top: 35px;
}

a{
  margin: 0 6px;
}
.instantPreviewWrapper {
  margin: 30px 20px;
  
}

ul.menue {
  li {
    line-height: 20px;
    background: #fff;
    height: 20px;
    text-align: center;
    font-size: 1.4em;
    margin: 5px 0px;
    padding: 7px;
    list-style: none;
    &.selected {
      border-left: 4px solid #58b1fc;
    }
  }
}

table.memberTable {
  background: #fff;
}


.notDoneYet, .notDoneYet:hover {
  text-decoration: line-through;
}

#mainSettings {
  margin-top: 20px;
}

#fsView {
  min-height: 40px;
  -webkit-box-shadow: 0px 0px 5px 0px #aaa; 
  -webkit-border-radius: 2px;
  background: #fff;
  table {
    width: 100%;
    td {
      border-bottom: 2px solid #f7f7f7;
      &.icon {
        width: 15px;
        padding: 5px 10px;
        font-size: 1.4em;
      }
      &.filename {
        text-align: left;
      }
    }
    tr:last-child td{
      border-bottom: 0px;
    }
    tr:hover {
      td {
        background: #fcfcfc;
      }
    }
  }
}
#editor {
  margin-top: 20px;
}
.CodeMirror {
  -webkit-box-shadow: 0px 0px 5px 0px #aaa;
  height: auto;
}
.CodeMirror pre {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

#buildingIndicator {
  padding-top: 100px;
  p {
    padding-top: 30px;
  }
}

a.needBuild {
  color: #da3700;
}
