ul.feedback {
  list-style: none;
  text-align: center;
  margin-top: 25px;
  h3 {
    margin-top: 25px;
    margin-bottom: 0px;
  }
  span {
    margin-left: 5px;
  }
}

.feedbackPost {
  margin-top: 25px;
  ul {
    list-style: none;
    margin-top: 30px;
    margin-left: 30px;
    li {
      border-left: 4px solid #58b1fc;
      margin-top: 18px;
      padding-left: 10px;
    }
  }
  span {
    margin-left: 5px;
  }
  
}
