<template name="feedback">
<div class="row-fluid">
  <div class="span2">
  
  </div>
  
  <div class="span10">
    <a class="btn btn-primary newFeedbackBtn" href="{{pathFor 'feedbackNew'}}">new feedback</a>

    <ul class="feedback">
      {{#each feedback}}
      <li>
      <a class="mainTitle" href="{{pathFor 'feedbackPost'}}">
        {{ title }}
      </a>
      <!-- <p>{{message}}</p> -->
      {{> star }}
      <span class="comments">
        <i class="icon-comment"></i>
        <a href="{{pathFor 'feedbackPost'}}">
          {{comments}} 
        </a>
      </span>
      <span class="mainInfo">
        <span class="user"><i class="icon-user"></i> {{user.name}}</span>
        <span class="time"><i class="icon-time"></i> {{getDate}}</span>
      </span>
      </li>
      {{/each}}
    </ul>
  </div>
</div>


</template>
