<template name="atomWrapper">

  <li class="atomContainer {{editModeClass}} {{getActivateClass}}" data-index="{{index}}">
    <label>{{atom.name}}</label>
    <div class="{{name}} atomWrapper">
      {{> dynamicTemplate}}
    </div>
    <div class="actions">
      {{#unless editMode }}
      <a href='#' class="edit-btn"><i class="fa fa-pencil"></i></a>
      <a href='#' class="remove-btn"><i class="fa fa-trash-o"></i></a>
      <a href='#' class="activate-toggle-btn"><i class="fa fa-square-o"></i></a>
      {{/unless}}
      <i class="fa fa-align-justify sort-handle"></i> 
    </div>
    
    {{#if editMode}}
    <div class="editActions">
      <a class="save-btn btn btn-primary" href="#"><i class="fa fa-check"></i> Save</a>
      <a class="dismiss-btn btn btn-default" href="#"><i class="fa fa-times"></i> Dismiss</a>
    </div>
    {{/if}}
  </li>
  
</template>
