<template name="editLLMD">
{{> editNavBar }}

<div class="row clear">
  {{> llmd_seq_edit getRoot}}
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
    <button type="button"  data-dismiss="modal" class="btn btn-glass md-btn"><i class="fa fa-code"></i> Markdown</button>
    <button type="button" data-dismiss="modal" class="btn btn-glass tts-btn"><i class="fa fa-comment-o"></i> TTS</button>
    <button type="button"  data-dismiss="modal" class="btn btn-glass ms-btn"><i class="fa fa-list"></i> Multiple Choice</button>
    <button type="button" data-dismiss="modal" class="btn btn-glass if-btn"><i class="fa fa-question"></i> if</button>
    
    
    </div>
  </div>
</div>
  
</template>

<template name="addNewAtomBtn">
<div class="addNewAtomWrapper">
  
  {{#if editable}}
  <a href='#' class="add-btn" data-toggle="modal" data-target=".bs-example-modal-lg"> <i class="fa fa-plus"></i></a>
  {{/if}}
  
</div>
</template>


<template name="branchSelector">
  {{#if isAdding}}
  <form id="#newBranch" action="#">
    <div class="input-group newBranch">
      <input name="name" type="text" class="form-control" autofocus>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit"> <i class="fa fa-plus"></i> Add</button>
        <button class="btn btn-default btn-dismiss" type="button"> <i class="fa fa-times"></i> Dismiss</button>
      </span>
    </div>
  </form>
  {{else}}
    {{#if onBranch}}
    <div class="branchSelectWrapper">
      {{> selectBranch}}
      {{updated}}
    </div>
    {{/if}}
      <a class="btn btn-primary create-branch-btn" href="#"> <i class="fa fa-plus"></i> New Branch </a>
  {{/if}}
</template>

<template name="selectBranch">
<select name="branch" class="branchSelect" placeholder="Branch...">
  <option value=""></option>
  {{#each branches}}
  <option value="{{name}}" {{isSelected ..}}>{{name}}</option>
  {{/each}}
</select>
</template>

<template name="editNavBar">
  <div class="commitInfo row {{getLevel}}">
    <div class="contextName"> 
      {{getContext}}
    </div>
    <div class="contextWrapper">
      
      {{#if state 'branch'}}
        {{> branchSelector}}
      {{/if}}
      
      {{#if state 'init'}}
        <a href="#" class="branch-change">{{ branch.name }}</a>
      {{/if}}
      
      {{#if state 'merge'}}
        <div class="branchSelectWrapper">
          {{> selectBranch}}
        </div>
        <a class="btn btn-primary apply-merge-btn" href="#"> <i class="octicon octicon-git-merge"></i> merge </a>
        <a class="btn btn-default init-btn" href="#"> <i class="fa fa-cross"></i> Cancel </a>
      {{/if}}
      
      <span class="right actions">
        <a href="{{pathFor 'commit.history' _commitId=head._id}}"> <i class="fa fa-history"></i> History</a>
        <a href="#" class="commit-btn {{isChanged}}"> <i class="fa fa-save"></i> Commit</a>
        <a href="#" class="branch-change"> <i class="octicon octicon-git-branch"></i> Change Branch</a>
        <a href="#" class="merge-btn"> <i class="octicon octicon-git-merge"></i> Merge</a>
      </span>
    </div>
  </div>
</template>


<template name="branchMerge">
  <div class="branchSelectWrapper">
    {{updated}}
  </div>
</template>
