.diffWrapper {
  width: 100%;
}

.diffAtom {
  width: 100%;
}

.diffAtom {
  > div {
    display: inline-block;
  }
}

.diffLeft, .diffRight {
  width: 46%;
  min-height: 34px;
  height: 100%;
}
.diffLeft {
  background: #9bf797;
}
.diffRight {
  background: #ff9c9e;
}
.conflictActions{
  width: 7%;
}

