<template name="editLLMD">

<div class="row clear">
  {{> llmd_seq_edit getRoot}}
  
  {{> addNewAtomBtn }}
  
</div>

  
</template>

<template name="addNewAtomBtn">
<div class="addNewAtomWrapper">
  {{#if isAdding}}
  <div class="btn-group">
    <button type="button" class="btn btn-glass md-btn"><i class="fa fa-code"></i> Markdown</button>
    <button type="button" class="btn btn-glass tts-btn"><i class="fa fa-comment-o"></i> TTS</button>
    <button type="button" class="btn btn-glass ms-btn"><i class="fa fa-list"></i> Multiple Choice</button>
    <!-- <button type="button" class="btn btn&#45;glass comment&#45;btn"><i class="fa fa&#45;comment"></i> Comment</button> -->
  </div>
  {{else}}
  <button class="btn btn-primary btn-lg btn-block add-btn"><i class="fa fa-plus"></i> ADD</button>
  {{/if}}
</div>
</template>

<template name="commentWrapper">
<li class="commentContainer">
  {{>Comment postData }}
</li>
</template>

<template name="llmd_seq_edit">
  <ul id="editorContainer">
    {{#each atoms}}
    
    {{#if isComment}}
      {{> commentWrapper }}
    {{else}}
      {{> atomWrapper getData .. }}
    {{/if}}
    
    {{/each}}
  </ul>
</template>
