<template name="dev">
<a class="btn btn-primary newFeedbackBtn" href="{{pathFor 'devNew' params=this}}">new Post</a>

    {{> rediscPosts}}
</template>

<template name="rediscPosts">
<ul class="postList">
  {{#each posts}}
  <li>

  {{> Score}}

  <div class="contentContainer">
    <a href="{{pathFor 'devPost'}}">
      <span class="title"> {{title}} </span>
    </a>
    <div>
      {{> Stats}}
    </div>

  </div>


  </li>
  {{/each}}
</ul>
</template>


<template name="devPost">

<a href="{{pathFor 'dev' params=this}}">... back To Dev</a>

  <h2> {{title}} </h2>

  {{> PostContent atom}}
  

</template>


<template name="devNew">

<a href="{{pathFor 'dev' params=this}}">... back To Dev</a>

<div class="newRediscWrapper">
  {{> llmd_redisc_edit }}
  <button type="submit" class="btn btn-primary save-btn"> Save </button>
  
</div>

</template>
